name: Test, Lint and Deploy (Separate Job)
on:
  push:
    branches:
      - main
permissions: {}

jobs:
  lint:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read
      # To report GitHub Actions status checks
      statuses: write
    steps:
      - name: Checkout master
        uses: actions/checkout@v4
        with:
          ref: main
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Terraform Setup
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.12.0"
      - name: Terraform fmt
        id: fmt
        run: terraform fmt -check
        continue-on-error: true
  test:
    runs-on: ubuntu-latest
    needs: lint
    permissions:
      contents: read
      packages: read
      # To report GitHub Actions status checks
      statuses: write
    outputs:
      fname-output: ${{steps.publish.outputs.author-fname}}
      lname-output: ${{steps.publish-old.outputs.author-lname}}
    steps:
      - name: Checkout master
        uses: actions/checkout@v4
        with:
          ref: main
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Terraform Setup
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.12.0"
      - name: Terraform Init
        id: init
        run: terraform init -input=false
      - name: Terraform Validate
        id: validate
        run: terraform validate -no-color
      - name: Terraform Test
        id: test
        run: terraform test -junit-xml=junit.xml
        continue-on-error: true
      - name: Terraform Plan
        id: plan
        run: terraform plan -no-color -input=false -out=tfplan
        continue-on-error: true
      - name: Upload Plan
        id: upload
        uses: actions/upload-artifact@v4.6.2
        with:
          name: tf-artifacts
          path: |
            tfplan
            junit.xml
      - name: Publish Auther Name
        id: publish
        run: echo "author-fname=Gaurav" >> $GITHUB_OUTPUT
      - name: Publish Auther Name (old-syntax)
        id: publish-old
        run: echo "::set-output name=author-lname::Agrawal" # github will remove this in future.
  apply:
    needs: test
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read
      # To report GitHub Actions status checks
      statuses: write
    steps:
      - name: Checkout master
        uses: actions/checkout@v4
        with:
          ref: main
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Terraform Setup
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.12.0"
      - name: Get Plan Output
        uses: actions/download-artifact@v4.3.0
        with:
          name: tf-artifacts
      - name: List files
        run: ls
      - name: Terraform Apply
        id: apply
        run: echo "Deploying..."
      - name: Get the Outputs
        run: |
          echo "${{ needs.test.outputs.fname-output}}""
          echo "${{ needs.test.outputs.lname-output}}""